.items {
  height: 100%;

  &__heading {
    height: 10%;
  }

  &__box {
    display: flex;
    width: 100%;
    height: 90%;
    padding: 10px;

    &--left {
      width: 25%;
      height: 100%;
      border: 1px solid black;
      padding: 10px;
      display: block;

      
    }
    
    &--right {
      width: 85%;
      height: 100%;
      border: 1px solid black;
      // background-color: #04AA6D;
      &__upper{
        border: 1px solid black;
        height: 15%; 
        padding-top: 10px;
        &--button{
          border: none;
          color: white;
          padding: 12px 25px;
          text-align: center;
          display: inline-block;
          // margin: 2px 1px;
          cursor: pointer;
          background-color: #3852f9;
          border-radius: 8px;
          // margin-left: 675px;
          margin-left: 40vw;

        }
      }
      &__lower{
        border: 1px solid black;
        height: 85%;
        padding: 10px; 
    
        
        &--search{
          border: 2px solid grey;
          color: black;
          padding: 12px 25px;
          // text-align: center;
          display: inline-block;
          // margin: 2px 1px;
          cursor: pointer;
          display: inline;
          border-radius: 8px;
          margin-left: 40vw;
          position: inherit;
        }
      }
    }
  }
}
.searchicon{
  position: absolute;
}
// .fullname{
//   float: left;
//   display: inline;
// }
// .quantity{
//   display: inline;
//   float:right;
// }
.itemstable{
  // border: 1px solid black;
  padding: 15px 10px;
  font-size: 11px;
  height: 90%;
}
.productdetails{
  // padding: 1px;
   border: 1px solid black;
}
.itemlist {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.importtable__table{
  border: 1px solid black;
  font-size: 11px;
  width: 100%;
  justify-content: space-around;

}
.theadbold{
  font-size: 14px;
}


.topnav-list {
  overflow: hidden;
  background-color: rgb(251, 225, 225);
  display: flex;
  flex-direction: row;
  align-content: center;
  /* position:fixed; */
  width: 85vw;
  /* height:7vh; */
  justify-content: space-around;
}

.topnav-list a {
  float: left;
  color: #060606;
  text-align: justify;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 20px;
  margin: 0;
  vertical-align: middle;
  margin: auto 0;
}

.topnav-list a:hover {
  background-color: #ddd;
  color: black;
}

.topnav-list a.active {
  background-color: #04AA6D;
  color: white;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productimage {
  height: 350px;
  width: 350px;
  display: block;

}

.add-item-button {
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: #e5e90f;
  border-radius: 8px;

}

.add-item-button:hover {
  background-color: #ced03e;
}

.producttext {
  text-align: center;
}