.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 270px;
    background-color: #000000;
    position: fixed;
    height: 100%;
    overflow: auto;

    & a {
        display: block;
        color: white;
        padding: 1rem;
        text-decoration: none;
        font-size: 1.6rem;

        &:hover:not(.active) {
            background-color: #555;
            color: white;
        }
    }

    & a.active {
        background-color: #04aa6d;
        color: white;
    }
}


div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width:0px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

.fas {
    padding-right: 10px;
    color: white;
}

.center-data {
    display: flex;
    justify-content: space-between;
    position: relative;
    float: right;
    /* background-color: black; */
}

.div-items {
    float: right;
    width: 200px;
    height: 200px;
}