body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  .container{
    display:flex;
    flex-direction: row;
  }
  .sidebar {
    margin-top:45px;
    padding: 0;
    width: 325px;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  i{
    margin-right: 8px;
  }
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
    /* padding-left: 100px; */
  }
  
  .sidebar a.active {
    background-color: #04aa6d; 
     color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width:0px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {
      float: left;
    }
    div.content {
      margin-left: 0;
    }
  }
  .fas{
      padding-right:10px;
      color: white;
  }
  .center-data{
    display: flex;
    justify-content: space-between;
    position: relative;
    float:right;
    /* background-color: black; */
  }
  .div-items{
    float: right;
    width: 500pxs;
    height: 200px;
  }
.button-main{
    display: inline-block;
    border-radius: 7px;
    background-color: rgb(182, 119, 42);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 34px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    padding: 20px 20px;
}
.mainbuttondiv{
  padding: 20px;
  box-sizing: border-box;
}